.DS_Store
.idea
*.log
tmp/

.venv/
__pycache__/
.mypy_cache/
*.pt

output/

*.egg-info/
*.pkl
hey_limbo_dataset*/
integrated_demo/
output_hey_limbo/
training_demo/
e2e_test_dataset/
hey_limbo_v2/
hey_limbo_combined/
*.log
neg_phrases.txt
