.DS_Store
.idea
*.log
tmp/

.venv/
__pycache__/
.mypy_cache/
*.pt

output/

*.egg-info/
*.pkl
hey_limbo_dataset*/
integrated_demo/
output_hey_limbo/
training_demo/
e2e_test_dataset/
hey_limbo_v2/
hey_limbo_combined/
*.log
neg_phrases.txt
impulses_resampled/
_augprobe_*/
hey_limbo_v3/
build_v3.log
_smoke/
hey_limbo_v4/
build_v4.log
augment_v3.log
train_tiny.log
wakeword_tiny.pkl
export/build/
mic_debug/
server_run.log
wakeword_tiny_v5.pkl
train_v5.py
train_v5.log
wakeword_tiny_v6.pkl
train_v6.py
train_v6.log
hey_limbo_v5/
confusables/
neg_phrases_v5.txt
